### Configuring Martlet

To avoid logging into Martlet every time, save your credentials in a file called `.martlet` in your home directory:

<div class="editor editor--inline">
  <div class="editor__frame">
    <div class="editor__buttons">
      <div class="editor__button editor__button--red"></div>
      <div class="editor__button editor__button--yellow"></div>
      <div class="editor__button editor__button--green"></div>
    </div>
    .martlet
  </div>
  <pre class="editor__content">email: "your.email@mail.mcgill.ca"
password: "your_password"</pre>
</div>

Martlet will use the credentials from this file instead of prompting for them.
