<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{{ site.description }}">
    <meta property="og:url" content="http://alexcoco.com/martlet/">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.summary }}">
    <meta property="og:description" content="{{ site.description }}">

    <title>{{ site.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='{{ site.baseurl }}octicons/octicons.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}style.css">
</head>
