### Updating Martlet

To update to the latest version of Martlet, update the Ruby Gem with the following command:

<div class="editor editor--inline">
  <div class="editor__frame">
    <div class="editor__buttons">
      <div class="editor__button editor__button--red"></div>
      <div class="editor__button editor__button--yellow"></div>
      <div class="editor__button editor__button--green"></div>
    </div>
    Terminal
  </div>
  <pre class="editor__content"><span class="editor__prompt">$</span> gem update martlet
Updating installed gems
Updating martlet
Fetching: martlet-{{site.version}}.gem (100%)
Successfully installed martlet-{{site.version}}
Gems updated: martlet</pre>
</div>
